@charset "utf-8";

/*
@include sp($point-sp) {}
@include tb($point-tb) {}
@include pc01($point-pc01) {}
@include pc02($point-pc02) {}
*/

//easing
.row {
  margin: 0 0 5px;
}
.name {
  display: inline-block;
  width: 10em;
}
.box {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
  margin: 0;
  vertical-align: middle;
}

.linear      { animation: translate 2s ease('linear') infinite; }
.ease        { animation: translate 2s ease('ease') infinite; }
.ease-in     { animation: translate 2s ease('ease-in') infinite; }
.ease-in-out { animation: translate 2s ease('ease-in-out') infinite; }
.easeInQuad  { animation: translate 2s ease('easeInQuad') infinite; }
.easeInCubic { animation: translate 2s ease('easeInCubic') infinite; }
.easeInQuart { animation: translate 2s ease('easeInQuart') infinite; }
.easeInQuint { animation: translate 2s ease('easeInQuint') infinite; }
.easeInSine  { animation: translate 2s ease('easeInSine') infinite; }
.easeInExpo  { animation: translate 2s ease('easeInExpo') infinite; }
.easeInCirc  { animation: translate 2s ease('easeInCirc') infinite; }
.easeInBack  { animation: translate 2s ease('easeInBack') infinite; }
.easeOutQuad  { animation: translate 2s ease('easeOutQuad') infinite; }
.easeOutCubic { animation: translate 2s ease('easeOutCubic') infinite; }
.easeOutQuart { animation: translate 2s ease('easeOutQuart') infinite; }
.easeOutQuint { animation: translate 2s ease('easeOutQuint') infinite; }
.easeOutSine  { animation: translate 2s ease('easeOutSine') infinite; }
.easeOutExpo  { animation: translate 2s ease('easeOutExpo') infinite; }
.easeOutCirc  { animation: translate 2s ease('easeOutCirc') infinite; }
.easeOutBack  { animation: translate 2s ease('easeOutBack') infinite; }
.easeInOutQuad  { animation: translate 2s ease('easeInOutQuad') infinite; }
.easeInOutCubic { animation: translate 2s ease('easeInOutCubic') infinite; }
.easeInOutQuart { animation: translate 2s ease('easeInOutQuart') infinite; }
.easeInOutQuint { animation: translate 2s ease('easeInOutQuint') infinite; }
.easeInOutSine  { animation: translate 2s ease('easeInOutSine') infinite; }
.easeInOutExpo  { animation: translate 2s ease('easeInOutExpo') infinite; }
.easeInOutCirc  { animation: translate 2s ease('easeInOutCirc') infinite; }
.easeInOutBack  { animation: translate 2s ease('easeInOutBack') infinite; }

@keyframes translate {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(300px);
  }
}